body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #0f172a;
  border-radius: 10px;
  border: 2px solid #1e293b;
  transition:
    background-color 0.3s ease,
    border 0.3s ease;
}
